



{%  datacardbody %}
Carroll Publishing list offer mailers access to more offices and accuracy unsurpassed 
from any other government list source. Most of the Federal Government Executives 
listed on this file are GS-12 or above and are purchasing decision makers.
{%  enddatacardbody  %}


{%  datacardbody  %}
    <strong>** Email Transmission Fee is $35/M or $500/F.</strong>
{%  enddatacardbody  %}




{%  datacardbody  %}
    <strong>Available Job Functions Include:</strong>
{%  enddatacardbody  %}


{% set _list %}
    {% include './list.md'  %}
{% endset%}

<div  class="pl-10 columns-[15rem]">
    {{ _list | markdown | safe }}
</div>
