
{%  datacardbody  variant='kuka' %}
You can target complete contact information for key officials in 
all 50 states with Carroll Publishing State Government Executives.
{%  enddatacardbody  %}

{%  datacardbody  %}
    <span>Postal List Available, see the</span>
    <a href="/cards/carroll_state_gov_exec_postal">Postal Data Card</a>
    <br>
    <br>
    <strong>** Email Transmission Fee is $35/M or $500/F.</strong>
{%  enddatacardbody  %}


{%  datacardbody  variant='kuka' %}
    <strong>Available Job Functions Include:</strong>
{%  enddatacardbody  %}


{% set _list %}
    {% include './list.md'  %}
{% endset%}

<div class="pl-10 columns-[15rem]">
    {{ _list | markdown | safe }}
</div>
