            <p class="bodyHeaderRed mt-5">Data Services</p>
		    <p class="bodyCopy"> 
                    Through True North, you have access to professionals with more than 15 years experience 
                    who can handle all facets of DM promotion processing. We offer 
                    leading data services and software, including:            
            </p>

            <ul class="bodyCopy ml-10 mt-5">
                <li>Data Entry</li>
                <li>Multi-Media List Conversion</li>
                <li>Data Enhancement</li>
                <li>CASS Certification</li>
                <li>National Change of Address: NCOA, LACS, DSF and NIXIE options available</li>
                <li>Merge/Purge: Consumer/Business Domestic/International</li>
                <li>USPS Postal Discount Processing (Presort)</li>
                <li>Database Maintenance and Management</li>
                <li>List Management</li>
                <li>List Brokerage</li>
                <li>Email Promotions</li>
                <li>Online Data Interface</li>
                <li>E-Append</li>
                <li>E-mail Deployments</li>
	          </ul>

            <p class="bodyCopy"> 
              Our goal is to help our clients meet and exceed their goals with expert 
              advice, superior service and a smile on our face. 
            </p>		
