---
title: Data Services
eleventyNavigation:
  key: DATA-SERVICES
  order: 3
  parent: CAPABILITIES
  title: Data Services
---

{% from "_common/mngr-contact.njk" import mngr_contact %}

    <div class="flex">
      <div class="px-8">
        {%- include 'articles/capabilities/data-services/part_01.njk' -%}
      </div>
    </div>
    
<div class="flex justify-center  center mt-6">
    <div class="bodyCopy" >
    {{- mngr_contact(managers,'hubert') -}}
    </div>
</div>


