---
title: List Brokerage
eleventyNavigation:
  key: LIST-BROKERAGE
  order: 2
  parent: CAPABILITIES
  title: List Brokerage
---

{% from "_common/mngr-contact.njk" import mngr_contact %}


    <div class="flex">
      <div class="px-8">
        {%- include 'articles/capabilities/list-brokerage/part_01.njk' -%}
      </div>
    </div>


    
<div class="flex justify-center mt-6">
    {{- mngr_contact(managers,'hubert') -}}
</div>

