
{% set navPages = collections.articles | eleventyNavigation('ARTICLES') %}


{% macro renderNavListItem(entry, _lvl=0 ) -%}
{%  set _inpath = entry | inpath(page.url)  %}
{%  set _iscurr = entry | iscurrent(page.url)  %}
{%  set _islevel0 = (_lvl==0)  %}
{%  set _islevel1 = (_lvl==1)  %}
{% set _class=((' class="inpath islevel0"' if _islevel0 else ' class="inpath"' ) if _inpath else ((' class="isactive islevel1"' if _islevel1 else ' class="isactive"' ) if _iscurr) ) %}
<li{{ _class | safe }}>
  {% if entry.url %}
    <a href={{ entry.url | url }}>{{ entry.title }}</a>
  {% else %}
    <a>{{ entry.title }}</a>
  {% endif %}
  {% if entry.children.length %}
  <ul class="pl-4_ pl-3">
    {% for child in entry.children %}
      {{ renderNavListItem(child,_lvl+1) }}
    {% endfor %}
  </ul>
  {% endif %}
</li>
{%- endmacro %}


{% set _html %}
<ul class="whitespace-no-wrap articles-sidebar  flex flex-row flex-wrap gap-4 justify-between   md:block mb-8">
{% for entry in navPages -%}
  {{- renderNavListItem(entry) -}}
{%- endfor %}
</ul>
{% endset %}


{{  _html |  bhtml | safe   }}
