

{% macro _cards(_idnode) %}

{% for card in collections.cards %}
{% for _node in card.data.node %}
    {% if _idnode==_node %}


        <li>
        <a href="{{card.url}}" class_="py-0 flex  items-center justify-center" class="flex">
        <span class="w-1/2_">{{card.data.title}}</span>
        {% if card.data.logoimage %}
        <img  class="h-6 w-20 object-scale-down inline-block"    src="{{card.url}}/images/{{card.data.logoimage}}" />
        {% else %}
        <div  class="h-6 w-20">
        </div>   
        {% endif %}
        </a>
        </li>



    {% endif %}
{% endfor %}
{% endfor %}
    
{% endmacro %}


{% macro _proc_0(_start='') %}
    {% set _len= (_start | length)+1 %}
{% for item in tcards -%}
    {% set _lenc= ( item.id | length) %}
    {% set _head= (item.id | truncate(_lenc-1,true,"")) %}
    {% set _cond= ((_start=='') and (_lenc==1)) or ((_head==_start) and (_len==_lenc))  %}
    {% if _cond %}

    {% set  _chk_id= ["xyz534",item.id] | join("-") %}

    <li class="mt-4_ pt-2">

    <input type="checkbox" class="hidden"  id="{{_chk_id}}" />

    <label  for="{{_chk_id}}"  class_="py-0 flex  items-center justify-center"  class="font-medium flex items-center justify-start">
        {{item.name}}
    </label>

    <ul class="ml-4">
    {{-  _cards(item.id)  -}}
    {{-  _proc_0(item.id)  -}}
    </ul>
    </li>
    {% endif %}
   
{%- endfor %}


{% endmacro %}





{% set _html %}


    <div class="mt-5 mb-2 mx-auto">
        <a href="javascript: [...document.querySelectorAll('.cards-tree input[type=checkbox][id]')].forEach(m=>m.checked=true)"    class="bg-yellow-600 px-2 py-1 rounded-md" >Expand All</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript: [...document.querySelectorAll('.cards-tree input[type=checkbox][id]')].forEach(m=>m.checked=false)"    class="bg-yellow-600 px-2 py-1 rounded-md" >Collapse All</a>
    </div>

 

    <div class="cards-tree">
        <ul class="whitespace-no-wrap">
            <div class_="grid  grid-flow-row  grid-cols-2" class__="flex flex-col justify-center_">
                {{-  _proc_0()  -}}
            </div>
        </ul>
    </div>
{% endset %}


{{  _html |  bhtml | safe   }}



