=============================
{%- include "articles_sidebar.njk" -%} 
++++++++++++++++++++++++++++++







<span class="dataCardHeader">
    {% block  title -%}
        {{- _TITLE | trim |safe -}}
    {%- endblock %}
</span>


<br>
<div class="dataCardDesc">
    {% block  description %}
        {{- _DESCRIPTION | trim | safe -}}
    {% endblock %}
</div>
<br>

<div class="cts">
    {% block  cts %}
        {{- _CTS | trim | safe -}}
    {% endblock %}
</div>



<div class="central">
    {% block  central %}
        {{- _CENTRAL | trim | safe -}}
    {% endblock %}
</div>



<div class="notes">
    {% block  notes %}
        {{- _NOTES | trim | safe -}}
    {% endblock %}
</div>


<div class="sbdata">
    {% block  sbdatx %}
        {{- _SBDATA | safe -}}
    {% endblock %}
</div>

{{ _MANAGER | safe }}

