<link rel="stylesheet" href="/css/tailwind.css">

<div  class="grid grid-flow-row  grid-cols-1   md:grid-cols-12 grid-rows-1">

<div  class="     md:col-span-2">
    {%- include "articles_sidebar.njk" -%} 
</div>



<div  class="md:col-span-7 px-8">
<span class="dataCardHeader">
    {% block  title -%}
        {{- _TITLE | trim |safe -}}
    {%- endblock %}
</span>


<br>
<div class="dataCardDesc">
    {% block  description %}
        {{- _DESCRIPTION | trim | safe -}}
    {% endblock %}
</div>
<br>

<div class="cts">
    {% block  cts %}
        {{- _CTS | trim | safe -}}
    {% endblock %}
</div>



<div class="central">
    {% block  central %}
        {{- _CENTRAL | trim | safe -}}
    {% endblock %}
</div>



<div class="notes">
    {% block  notes %}
        {{- _NOTES | trim | safe -}}
    {% endblock %}
</div>

</div>



<div  class="   md:col-span-3">

{% if logoimage %}
<img src="./images/{{logoimage}}" alt="xxxxxx">
{% endif %}


<div class="sbdata">
    {% block  sbdatx %}
        {{- _SBDATA | safe -}}
    {% endblock %}
</div>

{{ _MANAGER | safe }}

</div>



</div>





