{% extends "layouts/basepage4card.njk"  %}


{% block  middle -%}

        <span class="dataCardHeader">
            {{- _TITLE | trim |safe -}}
        </span>
        <br>

        <div class="dataCardDesc">
            {{- _DESCRIPTION | trim | safe -}}
        </div>
        <br>

        <div class="cts">
            {{- _CTS | trim | safe -}}
        </div>
        <br>

        <div class="central">
            {{- _CENTRAL | trim | safe -}}
        </div>
        <br>


        <div class="notes">
            {{- _NOTES | trim | safe -}}
        </div>

{%- endblock %}




{% block  right -%}
        {% if logoimage %}
            <img src="./images/{{logoimage}}" alt="xxxxxx">
        {% endif %}


        <div class="sbdata">
            {{- _SBDATA | safe -}}
        </div>

        {{ _MANAGER | safe }}
{%- endblock %}







