      <p class="bodyHeaderRed">List Management</p>
      <p class="bodyCopy"><strong>Let True North Be Your List Manager</strong></p>
        <p class="bodyCopy">Your customer or member list is a valuable asset. Our experienced list and insert management 
            professionals know how to leverage your list and turn it into a win-win, 
            no-risk form of income that is applied directly to your bottom line.  </p>
        <p class="bodyCopy"><strong>The True North Difference</strong></p>
        <ul class="bodyCopy ml-10">
          <li>We work closely with our clients to increase list rental revenue, expand exchange opportunities and maximize value within core markets. </li>
          <li> We have vast and in-depth list industry knowledge and we stay on the cutting edge of industry trends and technology. </li>
          <li>We are not a “mega” list manager — we provide the highest level of personalized and customized service in everything we do for our clients.</li>
          <li>We take the time to do the research and learn the nuances of the portfolio to identify every possible market 
              opportunity — constantly meeting and exceeding sales goals.</li>
          <li>We work with True North Advertising, an award-winning digital and direct agency, so our clients 
              benefit from superior creative and effective promotions that generate response.</li>
        </ul>        
      <p class="bodyCopy">At True North List, we manage a wide variety of response files and understand the importance of effective marketing to success. We develop a strategic, multi-media campaign for every client to increase list exposure across multiple market categories. This level of exposure leads to more revenue — all at no cost to our client.</p>
      <p class="bodyCopy">Our success is measured not only by the immediate results we can achieve, but also by the long-term relationships we build with our clients in the process.</p>
      <p class="bodyCopy">
        <em>
              <strong>That’s why True North is your best choice for list management! </strong>
        </em>
       </p>
