
{% macro renderItem(_img,_alt,_url ) %}
			<li class="splide__slide relative">
                {% Image  _img, _alt   %}
                <a href="{{_url}}" class="absolute w-full bottom-0 h-1/3 cotty"></a>
			</li>
{% endmacro %}





<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.11/dist/css/splide.min.css">

<style>
    .splide__pagination {  top: 1em;  bottom: inherit; }
    .splide__pagination__page 
    { 
        width: 0.7em; height: 0.7em; margin-left: 0.6em; 
        background-color: #0E0E0E;    
    }

    .splide__pagination__page.is-active 
    { 
        background-color: #EACD7B;    
    }



</style>



<div id="image-slider" class="splide  w-full h-full">
  <div class="splide__track  w-full h-full">
		<ul class="splide__list">


			<li class="splide__slide relative">
                {% Image  "_src/images/home/slider/TNLM.jpg", "FreshFind"   %}
                <a href="/articles/managed-properties/business/new-businesses/" class="absolute w-full bottom-0 h-1/3"></a>
			</li>

			<li class="splide__slide">
                {% Image  "_src/images/home/slider/AssociationsSocieties.jpg", "AssociationsSocieties"   %}
                <a href="/articles/managed-properties/business/assoc-and-society/" class="absolute w-full bottom-0 h-1/3"></a>
			</li>

			<li class="splide__slide">
                {% Image  "_src/images/home/slider/TimeLifeSV01.jpg", "TimeLife"   %}
                <a href="/articles/startvista" class="absolute w-full bottom-0 h-1/3"></a>
			</li>

			<li class="splide__slide">
                {% Image  "_src/images/home/slider/Carroll.jpg", "Carroll"   %}
                <a href="/cards/carroll_usgovexec_master/" class="absolute w-full bottom-0 h-1/3"></a>
			</li>

		</ul>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.11/dist/js/splide.min.js"></script>

<script type="module" async>
//      import Lazyload from "https://cdn.skypack.dev/vanilla-lazyload";
//      const lazyload = new Lazyload();
</script>

<script>
  
  
  // new Splide( '.splide' , { autoWidth:true, autoHeight:true, perPage:1, autoPlay: true }).mount();



var splide = new Splide( '.splide', {
  autoplay    : true,
  rewind      : true,
  pauseOnHover: true,
  pauseOnFocus: true,
  type:'loop'
//  type:'slide'
//perPage:1, 
//autoWidth:true, autoHeight:true,


} ).mount();


</script>