<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.min.css" integrity="sha512-06CZo7raVnbbD3BlY8/hGUoUCuhk8sTdVGV3m3nuh9i2R+UmkLbLRTE/My8TuJ3ALbDulhBObJQWtOUt0mXzNQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div  class="my-slider">
  <div>
      <img src="/images/home/slider/AssociationsSocieties.avif">
  </div>
  <div>
      <img src="/images/home/slider/Carroll.avif">
  </div>
  <div>
      <img src="/images/home/slider/TimeLifeSV01.avif">
  </div>
  <div>
      <img src="/images/home/slider/TNLM.avif">
  </div>
</div>






<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.min.js" integrity="sha512-Gh7nb/SRtjHNhTDWBfVjcZgmRmBhWqIXEiVOdSkzbJF0J3j2lTbxaIDmEsQqXs12XXN7nsyDbpUSv8qQ97qzeQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
    var slider = tns({
    container: '.my-slider',
    items: 1,
//    slideBy: 'page',
    autoWidth: true,
    controls:false,
    autoplay: true
  });
</script>
