<br>


<div class="flex justify-between_   h-1/6    gap-10 ">

    <div class="w-full md:w-3/5 mx-auto lg:w-3/12 p-1">
        {% include './bottom_notes/email-01.njk'  %}
    </div>

    <div class="hidden lg:block  w-3/12 p-1">
        {% include './bottom_notes/freshfind-01.njk'  %}
    </div>

    <div class="hidden lg:block  w-3/12 p-1">
        {% include './bottom_notes/smart-target-01.njk'  %}
    </div>

    <div class="hidden lg:block  w-3/12 p-1">
        {% include './bottom_notes/management-01.njk'  %}
    </div>

</div>


<br>
