    <div class="flex">

        <div class="ml-5 mr-auto place-self-end">
            <a href="/" class="no-underline h-20_   w-full_">

            <!--
                <img src="/images/tn_logo.gif"  class="w-48 h-20 object-scale-down">
-->



<!--
    <style>
        svg#svg2222 .right_rays { fill: maroon !important ;  }
        svg#svg2222 .left_rays { fill: green !important ;  }
    </style>
-->


            {{ "/svgs/home/TN-LOGO_3_m2.svg" | svgContents("m-1 object-cover_  h-16 w-full   object-contain   loggo") | safe }}



            </a>
        </div>



        <div class="ml-auto mr-5  flex flex-col  items-end_  md:items-stretch_ place-content-end  ">

            <div id="CallUsToday" class="text-right">
                Call us today at <span class="CallUsToday-Number">203.459.4348 x301</span>
            </div>

       

            <ul class="hidden  md:flex list-none gap-5 mt-3.5">
                <li class="pr-2.5 border-r-2 border-gray-700"><a href="/articles/managed-properties/business">Managed Properties</a></li>
                <li class="pr-2.5 border-r-2 border-gray-600"><a href="/articles/capabilities/list-management">Capabilities</a></li>
                <li class="pr-2.5 border-r-2 border-x-gray-500"><a href="/articles/tools/count-requests">Tools</a></li>
                <li class=""><a href="/articles/about/who-we-are">About</a></li>
            </ul>



        </div>



    </div>
