@import './add/consts';  

@tailwind   base;


@tailwind   components;
@tailwind   utilities;


@layer components 
{
   @import './add/old_style';
   @import './add/articles_sidebar';
   @import './add/cards_tree';

    div.kakara
    {
       color: $var;
    }

    div.mazara
    {
       color: $varx;
    }
        



}

@layer base
{
   
   ol
   {
      @apply   list-decimal;
   }
   ul
   {
      @apply   list-disc;
   }
   
}


@layer utilities
{
   .thin-rule
   {
      column-rule: thin inset;
   }
}