

{%  datacardbody  %}
<strong>ClearPoint Direct</strong> offers premier general value-priced merchandise including an assortment of 
lifestyle products such as; cookbooks emphasizing diabetic needs, special interest books, 
ladies apparel, healthcare, wellness and great gift ideas.
{%  enddatacardbody  %}

{%  datacardbody  %}
Reach these highly responsive merchandise buyers from <strong>ClearPoint Direct</strong>. 
All buyers have purchased from either space ads in popular publications or from FSI's.
{%  enddatacardbody  %}

{%  datacardbody  %}
These individuals have bought the latest items like the <strong><i>Classic Comfort Bra, 
Lace Support Bra, All-In-One Wallet, Discreet Listening Device, Diabetic Socks, 
Campbell's Cookbooks, Diabetic Cookbooks, Holiday Cookbooks and Cap Rack</i></strong>.
{%  enddatacardbody  %}

{%  datacardbody  %}
Median age 48; median household income $30,000 - $35,000 Most buyers 
are credit card sold and have an average sales of between $10.00 - $30.00.
{%  enddatacardbody  %}
