
{%  datacardbody  %}
Directed and instrumentations grants will directly Benefit Life Science Vendors. Of greatest 
interest to life science vendors are the research directed awards and instrumentation grants 
which total $8.5 billion. Life science vendors can expect researchers to spend roughly $1.5 
to $2.4 billion on products over the next one to three years. In addition to research-directed 
funds the National Centers for Research Resources (NCRR) will distribute $300 million 
in ARRA funds dedicated to helping researchers purchase instrumentation.
{%  enddatacardbody  %}


{%  datacardbody  %}
        <a href="/content/DataCards/list_order_forms/TNLMListOrderForm1.2.pdf" class="bodyCopy" target="_new">
            Click Here for a Email List Rental Order Form
        </a>
{%  enddatacardbody  %}






















