{% from "./triangles.njk" import triangle %}


{%  macro LearnMore(_url)  %}

<!--
    <div class="mt-10">
    </div>
-->

    <a  class="flex  place-content-evenly items-center  py-1 w-min w-36_   text-sm self-center bottom-2 px-3 whitespace-nowrap bg-gradient-to-tr  from-[#A50F01]   to-[#BC5A51] text-white rounded-md"  
    href="{{_url}}">
    
    <span class="mr-2">LEARN MORE</span>

    {{- triangle("right") -}}  


    </a>

{% endmacro %}




