{%  macro mngr_contact(_managers,_name)  %}

{% set  _manag = _managers[_name]  | d(_managers.guppa)  %}


<div class="flex flex-col w-min">

    <div>Contact {{ _manag.name }} for inquiries.</div>
    <div class="grid grid-cols-[3rem_15rem]">
        <div>E-mail:</div><div class="pl-2">{{ _manag.email }}</div>
        <div></div><div class="pl-2">or  call at {{ _manag.phone }}</div>
    </div>

</div>

{%  endmacro %}

