

{%  datacardbody %}
These officials are concerned with street and road paving and maintenance, 
water supply and purification, wastewater collection and treatment, solid 
waste collection and disposal, street lighting, street cleaning and snow 
removal, park and playground development and maintenance, mass transit, 
airport construction and maintenance, planning, housing and zoning, community 
development and urban renewal, power plant operation, finance and accounting and more.
{%  enddatacardbody  %}

{%  datacardbody %}
You can target complete contact information for key officials in all 3,100 
counties nationwide with Carroll Publishing County Government Executives directory.
{%  enddatacardbody  %}




{%  datacardbody  %}
    <span>E-mail List Available, see the</span>
    <a href="/cards/carroll_county_exec_email">E-mail Data Card</a>
{%  enddatacardbody  %}


{%  datacardbody  %}
    <strong>Available Job Functions Include:</strong>
{%  enddatacardbody  %}



{% set _list %}
    {% include './list.md'  %}
{% endset%}

<div class="pl-10   columns-[15rem]">
    {{ _list | markdown | safe }}
</div>

