---
title: Order Status
eleventyNavigation:
  key: ORDER-STATUS
  order:  2
  parent: TOOLS
  title: Order Status
---

      <p>&nbsp;</p>
      <p class="bodyHeaderRed">Order Status</p>
		<p class="bodyCopy">
        <strong>Order Status</strong><br>
        E-mail <a href="mailto:Micaela.Olivier@TrueNorthList.com" class="bodyCopy">Micaela Olivier</a> your order number and mailer name and she will get back to you with status.
        </p>
