
{%  datacardbody %}
You can target complete contact information for key officials in 
all 50 states with Carroll Publishing State Government Executives.
{%  enddatacardbody  %}

{%  datacardbody  %}
    <span>E-mail List Available, see the</span>
    <a href="/cards/carroll_state_gov_exec_email">E-mail Data Card</a>
{%  enddatacardbody  %}



{% set _table %}
    {% include './table.md'  %}
{% endset%}


{% set _list %}
    {% include './list.md'  %}
{% endset%}


{%  datacardbody %}
    {{ _table | markdown | safe }}
{%  enddatacardbody  %}


{%  datacardbody %}
    <strong>Available Job Functions Include:</strong>
{%  enddatacardbody  %}

{%  datacardbody %}
    <div class="pl-10 columns-[15rem]">
        {{ _list | markdown | safe }}
    </div>
{%  enddatacardbody  %}


