---
title: List Management
eleventyNavigation:
  key: LIST-MANAGEMENT
  order: 1
  parent: CAPABILITIES
  title: List Management
---

{% from "_common/mngr-contact.njk" import mngr_contact %}


<div class="flex flex-row justify-center">
  <div class="px-8">{% include 'articles/capabilities/list-management/part_01.njk' %}</div>
  <div class="w-2/5 m-5  hidden  lg:block">
    <img src="/images/list_managementArt.jpg">
  </div>
</div>


<div class="flex justify-center mt-6">
  {{- mngr_contact(managers,'hubert') -}}
</div>

