---
title: Compiled Lists
eleventyNavigation:
  key: COMPILED-LISTS
  order:  4
  parent: MP
  title: Compiled Lists
---

{% from "_common/mngr-contact.njk" import mngr_contact %}



<div class="flex flex-col 2xl:flex-row  2xl:gap-10">
    <div class="px-8">{% include 'articles/managed-properties/compiled-lists/block_1.njk' %}</div>
    <div class="px-8">{% include 'articles/managed-properties/compiled-lists/block_2.njk' %}</div>
</div>


<div class="flex justify-center mt-6">
    <div class="bodyCopy" >
    {{- mngr_contact(managers,'micaela') -}}
    </div>
</div>






