

{%  datacardbody %}
Reach new business owners as soon as they register for their City, County, State 
or Federal Tax ID! This file of new businesses is updated daily, so your offer will 
have the competitive edge. America's New Business Hot List provides marketers with 
the most up-to-date information, that can be delivered to you the day it is released.
{%  enddatacardbody  %}


{%  datacardbody %}
Whether your offer is business products or services America's New Business 
Hot List offers you the freshest prospective clients.
{%  enddatacardbody  %}

{%  datacardbody %}
These new business owners have a desire to succeed 
long term and are seeking goods and services including:
{%  enddatacardbody  %}


{% set _list_1 %}
    {% include './list_1.md'  %}
{% endset%}

<div class="pl-10">
    {{ _list_1 | markdown | safe }}
</div>


{%  datacardbody %}
America's New Business Hot List can segment by SOHO "Small Office Home Office" 
vs. Commercial based businesses to best meet your clients needs.
{%  enddatacardbody  %}

{%  datacardbody %}
Using proprietary software America's New Business Hot List is able identify 
major industry types including:
{%  enddatacardbody  %}


{% set _list_2 %}
    {% include './list_2.md'  %}
{% endset%}

<div class="pl-10">
    {{ _list_2 | markdown | safe }}
</div>
