---
eleventyNavigation:
  key: BIOS
  order:  3
  parent: ABOUT
  title: Bios
---

{% set _empty={ name:'?????', email:'?????',phone:'????' } %}
{% set  _micaela = managers['micaela']  | d(_empty)  %}
{% set  _hubert = managers['hubert']  | d(_empty)  %}




      <p class="bodyHeaderRed">Team Leader Bios</p>


        <strong>{{_hubert.name}}</strong><br>
				Managing Partner<br>
				<br>
				Tom began his direct marketing career in 1983 with List Services  Corporation. Tom worked his way to the position of 
        sales manager for  list management. After leaving List Services, Tom joined Walter Karl in  their list brokerage 
        division. There he worked on many prestigious  accounts which earned him the title of Vice President. In 1989 Tom  
        joined Flynn Direct Response where he eventually served as its  President. Tom founded True North List Marketing 
        in 1997 joining forces  with direct marketing veterans Steve Fuchs and Tom Goosmann of True  North, Inc. 
        Having expertise in all aspects of list management and list  brokerage, Tom has provided direct marketing service 
        to many well known  direct marketers. As Managing Partner of True North List Marketing, Tom  oversees all divisions 
        of the company from sales to operations. His  innovative leadership has set the pace for steady corporate growth 
        and  superior results for True North clients.
                <br><br>
				<a href="mailto:{{_hubert.email}}" class="bodyCopy">{{_hubert.email}}</a><br>
				{{_hubert.phone}}<br>
				<br>
				<br>



        <b>{{_micaela.name}}</b><br>
        Senior Account Manager<br>
        <br>
          Having spent the last three years working at True North List Marketing part-time, Micaela joined the company full-time 
          in the spring of 2009. Throughout her tenure at True North she has consistently demonstrated her strong work ethic and quick 
          grasp of providing solutions to keep the work flow timely and accurate. Currently, Micaela supports the sales teams 
          of both the Consumer and Business lists and is enthusiastically involved in the day-to-day operations of order input 
          and trafficking, judicious follow-up with brokers, and diligent credit and collection efforts. Micaela has a BA in 
          Marketing from the University of Rhode Island.
          <br>
          <br>
          <a href="mailto:{{_micaela.email}}" class="bodyCopy">{{_micaela.email}}</a>
          <br>
          {{_micaela.phone}}
        