---
title: Assoc. & Society
---

<!--
<h1>{{ eleventyNavigation.key  }}</h1>
-->





<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%" id="Associations_Table">
    <tbody><tr>
        <td height="170">&nbsp;</td>
        <td height="170" align="LEFT" valign="TOP">&nbsp;</td>
        <td height="170">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td height="100%" align="LEFT" valign="TOP">
            <p class="Associations_Intro">
                <span style="font-weight: bold; color: #024470;">Finding
                your prime customers has never been easier and more accurate than with Smart Target:
                    Association and Society Lists.</span>&nbsp;That's because we have comprehensive
                lists of the most active consumers within niche markets to help you connect with
                your most qualified audience. Whatever your market, you'll find passionate consumers
                interested in you and your brand. Check out some of our lists here and follow the
                tips below to get started.
            </p>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td height="100%" align="LEFT" valign="middle" class="Associations_yellow">Need help
            understanding the list renting process?<a href="#tools"><img src="/images/associations_vorc.gif" alt="Visit our resource center" width="237" height="40" border="0" align="absmiddle" style="margin-left: 40px;"></a></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td height="100%" align="LEFT" valign="TOP">
            <img src="/images/spacer.gif" width="1" height="46" alt=""></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td height="100%" align="LEFT" valign="TOP">
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td align="left" valign="top">
                        <table width="341" border="0" cellspacing="0" cellpadding="0" id="Associations_listtable">
                            <tbody><tr>
                                <td colspan="3" bgcolor="#FFFFFF" id="Associations_listtable_header">&nbsp;Postal Lists
                                    Only</td>
                            </tr>




<tr>
    <td width="118" align="left" valign="middle"><a href="/main?action=DC&amp;v=afe&amp;quickList=afe">
        <img src="/images/associations_afe.gif" alt="AFE" width="118" height="68" border="0"></a></td>
    <td width="30" align="left" valign="middle">&nbsp;</td>
    <td width="193" align="left" valign="middle"><a href="/main?action=DC&amp;v=afe&amp;quickList=afe">
        Association for<br>
        Facilities Engineering</a></td>
</tr>
<tr>
    <td width="118" align="left" valign="middle">&nbsp;</td>
    <td width="30" align="left" valign="middle">&nbsp;</td>
    <td width="193" align="left" valign="middle">&nbsp;</td>
</tr>




                            <tr>
                                <td width="118" align="left" valign="middle">
                                    <a href="/cards/swana/">
                                    <!--
                                    <img src="/images/associations_swana.gif" alt="SWANA" width="118" height="67" border="0">
                                    -->
                                    <img src="/images/associations_swana.gif" alt="SWANA" width="118" height="67" border="0">
                                    </a>
                                </td>
                                <td width="30" align="left" valign="middle">&nbsp;</td>
                                <td width="193" align="left" valign="middle">
                                    <a href="/cards/swana/">
                                    Solid Waste<br>
                                    Association<br>
                                    Active Members</a></td>
                            </tr>
                            <tr>
                                <td width="118" align="left" valign="middle">&nbsp;</td>
                                <td width="30" align="left" valign="middle">&nbsp;</td>
                                <td width="193" align="left" valign="middle">&nbsp;</td>
                            </tr>

                            <tr>
                                <td width="118" align="left" valign="middle"><a href="/main?action=DC&amp;v=RoadRunnersUSA&amp;quickList=RoadRunnersUSA">
                                    <img src="/images/associations_roadrunners.gif" alt="Road Runners" width="118" height="85" border="0"></a></td>
                                <td width="30" align="left" valign="middle">&nbsp;</td>
                                <td width="193" align="left" valign="middle"><a href="/main?action=DC&amp;v=RoadRunnersUSA&amp;quickList=RoadRunnersUSA">
                                    Road Runners
                                    <br>
                                    Club of America</a></td>
                            </tr>
                        </tbody></table>
                    </td>
                    <td width="10" align="left" valign="top">&nbsp;</td>
                    <td align="left" valign="top">
                        <table width="341" border="0" cellspacing="0" cellpadding="0" id="Associations_listtable">
                            <tbody><tr>
                                <td colspan="3" bgcolor="#FFFFFF" id="Associations_listtable_header">&nbsp;Email &amp;
                                    Postal Lists</td>
                            </tr>


                            
                            <tr>
                                <td width="118" align="left" valign="middle">
                                    <a href="/cards/aspen/">
                                    <img src="/images/associations_aspen.gif" alt="ASPEN" width="118" height="70" border="0">
                                    </a>
                                </td>
                                <td width="30" align="left" valign="middle">&nbsp;</td>
                                <td width="193" align="left" valign="middle">
                                    <a href="/cards/aspen/">
                                    American Society<br>
                                    for Parenteral and<br>
                                    Enteral Nutrition</a></td>
                            </tr>
                            <tr>
                                <td width="118" align="left" valign="middle">&nbsp;</td>
                                <td width="30" align="left" valign="middle">&nbsp;</td>
                                <td width="193" align="left" valign="middle">&nbsp;</td>
                            </tr>


                            <tr>
                                <td width="118" align="left" valign="middle">
                                    <a href="/cards/nih_sfs/">
                                    <!--
                                    <img src="/images/associations_nih.gif" alt="NIH" width="118" height="90" border="0"></a></td>
                                    -->
                                    <img src="/images/associations_nih.gif" alt="NIH" width="118" height="90" border="0"></a></td>
                                <td width="30" align="left" valign="middle">&nbsp;</td>
                                <td width="193" align="left" valign="middle"><a href="/cards/nih_sfs/">
                                    National Institute of Health<br>
                                    Stimulus Funded Scientists</a></td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td height="20" align="LEFT" valign="TOP">
            <img src="/images/spacer.gif" width="1" height="30" alt=""></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td width="35">
            <img src="/images/spacer.gif" width="35" height="1"></td>
        <td width="100%" height="100%" align="LEFT" valign="TOP" class="Associations_subheader">
            Getting Started</td>
        <td width="20">
            <img src="/images/spacer.gif" width="35" height="1"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td height="100%" align="LEFT" valign="TOP">
            <img src="/images/associations_linebreak700.gif" width="700" height="35" alt="">
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td align="LEFT" valign="TOP">
            <table width="700" border="0" cellspacing="0" cellpadding="0" id="Associations_gettingstarted">
                <tbody><tr>
                    <td width="364" align="left" valign="top"><strong style="font-size: 14px;">Association
                        List Process–4 Steps to List Rental</strong>
                        <ol>
                            <li><strong>Identify</strong> your audience</li>
                            <li><strong>Review</strong> and select list criteria</li>
                            <li><strong>Fill out </strong>an order form that contains all<br>
                                required information<br>
                                <a href="/downloads/list_order_forms/TNLMListOrderForm1.2.pdf" target="_blank">Click
                                    Here for Email List Rental Form</a><br>
                                <a href="/downloads/list_order_forms/TNLMListOrderForm.pdf" target="_blank">Click Here
                                    for Postal List Rental Form</a></li>
                            <li><strong>Submit </strong>final version of mail piece and the completed list rental
                                form to <a href="mailto:Micaela.Olivier@truenorthlist.com">Micaela.Olivier@truenorthlist.com</a>
                            </li>
                        </ol>
                    </td>
                    <td width="32" align="left" valign="top">&nbsp;</td>
                    <td width="304" align="left" valign="top">
                        <p>
                            Once approved, your list order file will be sent via email to be printed and mailed
                            on your end.
                        </p>
                    </td>
                </tr>
            </tbody></table>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td height="20" align="left" valign="top">
            <img src="/images/spacer.gif" width="1" height="30" alt=""></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <img src="/images/spacer.gif" width="35" height="1"></td>
        <td height="100%" align="left" valign="top" class="Associations_subheader"><a name="tools">
        </a>Tools &amp; Resource Center</td>
        <td>
            <img src="/images/spacer.gif" width="35" height="1"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td height="100%" align="left" valign="top">
            <img src="/images/associations_linebreak700.gif" width="700" height="35" alt="">
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td height="100%" align="LEFT" valign="TOP" id="Associations_tools">
            <p>
                <a href="/downloads/TNLM_marketing_tips.pdf" target="_blank_qt">
                    <img src="/images/associations_quicktips.jpg" alt="Quick Tips" width="344" height="102" border="0"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/downloads/TNLM_HowToReadADataCard.pdf" target="_blank_dc">
                    <img src="/images/associations_datacard.jpg" alt="Data Card" width="344" height="102" border="0"></a>
            </p>
            <p>
                <a href="/downloads/TNLM_marketing_glossary.pdf" target="_blankglossary">
                    <img src="/images/associations_glossary.jpg" alt="Glossary" width="344" height="102" border="0"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/downloads/TNLM_FAQ.pdf" target="_blankfaq">
                    <img src="/images/associations_faq.jpg" alt="FAQ" width="344" height="102" border="0"></a>
            </p>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td height="100%" align="LEFT" valign="TOP">
            <table width="700" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td align="left" valign="top">
                        <img src="/images/associations_bluebox_top.gif" alt=""></td>
                </tr>
                <tr>
                    <td align="left" valign="top" id="Associations_bluebox">
                        <p class="Associations_subheader">
                            GET THE MOST OUT OF YOUR LISTS WITH TRUE NORTH'S EXPERTISE.
                        </p>
                        <p>
                            <strong>At True North, we specialize in Association list management and getting results
                                for our clients.</strong> We successfully manage a range of Association lists,
                            and as your list manager, we would market your member and customer files to other
                            companies who have similar target audiences. See for yourself how our creative approach
                            to managing lists can help your business grow.
                            <br>
                            Learn more about True North List Marketing’s list management capabilities
                            <a href="/articles/capabilities/list-management/">here</a>.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top">
                        <img src="/images/associations_bluebox_bottom.gif" alt=""></td>
                </tr>
            </tbody></table>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td height="100%" align="LEFT" valign="TOP">&nbsp;<br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </td>
        <td>&nbsp;</td>
    </tr>
</tbody>
</table>

