
{%  datacardbody  variant='kuka' %}
These officials are concerned with street and road paving and maintenance, 
water supply and purification, wastewater collection and treatment, 
solid waste collection and disposal, street lighting, street cleaning 
and snow removal, park and playground development and maintenance, mass transit, 
airport construction and maintenance, planning, housing and zoning, community 
development and urban renewal, power plant operation, finance and accounting and more.
{%  enddatacardbody  %}


{%  datacardbody  %}
    <span>Postal List Available, see the</span>
    <a href="/cards/carroll_muni_govt_postal">Postal Data Card</a>
    <br>
    <br>
    <strong>** Email Transmission Fee is $35/M or $500/F.</strong>
{%  enddatacardbody  %}


{%  datacardbody  variant='kuka' %}
    <strong>Available Job Functions Include:</strong>
{%  enddatacardbody  %}


{% set _list %}
    {% include './list.md'  %}
{% endset%}

<div class="pl-10 columns-[15rem]">
    {{ _list | markdown | safe }}
</div>
