---
title: Canada
eleventyNavigation:
  key: CANADA
  order: 3
  parent: MP
  title: Canada
---


{%  bodyHeaderRed %}
  Canadian
{%  endbodyHeaderRed  %}


{%  bodyCopy %}
  Our Canadian list management's client roster includes the most responsive Canadian consumers. 
  These lists are generated from sources including direct mail, television, space, point of purchase and online.
{%  endbodyCopy  %}


{%  bodyCopy %}
  True North's roster of Canadian clients includes Clearpoint and StarVista Entertainment/Time Life Canada.
{%  endbodyCopy  %}





