            <p class="bodyHeaderRed mt-5">Brokerage Services</p>
		        <p class="bodyCopy"> 
                True North’s team of experienced brokers is here to help your business grow. 
                Our brokers are experts in customer and donor acquisition as well as B2B acquisition, 
                for both direct mail and email campaigns. 
            </p>
		        <p class="bodyCopy"> We provide our clients with expert advice based on years of experience. </p>
		        <p class="bodyCopy"> Our services include: </p>

            <ul class="bodyCopy ml-10 mt-5">
                  <li> Planning </li>
                  <li> Forecasting and budget reports </li>
                  <li> Research and recommendations </li>
                  <li> Exchange negotiations </li>
                  <li> Aggressive cost negotiations </li>
                  <li> Order placement and tracking </li>
                  <li> Response analysis </li>
	          </ul>

            <p class="bodyCopy"> 
              Our goal is to help our clients meet and exceed their goals with expert 
              advice, superior service and a smile on our face. 
            </p>		
