

{%  datacardbody  %}
Reach these highly responsive merchandise buyers from <strong>ClearPoint Direct</strong>. 
All buyers have purchased from either space ads in popular publications or from FSI's.
{%  enddatacardbody  %}


{%  datacardbody  %}
These individuals have bought the latest items like the 
<strong><i>Classic Comfort Bra, Diabetic Cookbook Collection, Diabetic Socks and All in One Wallet</i></strong>.
{%  enddatacardbody  %}


{%  datacardbody  %}
Median age 48; median household income $30,000 - $35,000 Most buyers are credit card 
sold and have an average sales of between $10.00 - $30.00.
{%  enddatacardbody  %}









