

{%  datacardbody %}
Professionals in this email list are leading researchers in the fields of Cancer Biology, 
Immunology, Cell/Molecular biology Proteomics, Genomics and Drug Discovery. Subscribers 
work in top companies such as Amgen, Biogen, Celgene, Eli Lilly, Merck, Pfizer, 
Regeneron and Sanofi. They most often manage annual product/service budgets of $1 million+.
{%  enddatacardbody  %}

{%  datacardbody %}
Life Science vendors now have the opportunity to use this list for deploying market-relevant 
emails to announce events and new products offers directly to the inboxes of top Scientists 
and Researchers with purchasing authority.
{%  enddatacardbody  %}

{%  datacardbody %}
This list is the perfect tool for companies marketing lab supplies, services, High-end Instruments, 
and electron microscopes, mass spectrometers, DNA sequencers, NMR spectrometers, etc.
{%  enddatacardbody  %}

