<table>
{%  for xxx in cts  %}
<tr>
    <td  align="right">{{ xxx[0] | safe }}</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{ xxx[1] | safe }}</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td  align="right">{{ xxx[2] | safe }}</td>
</tr>
{%-  endfor %}
</table>