{% set  _manag = managers[manager]  | d(managers.guppa)  %}


<div class="statsContact">
        <br>
        Please contact {{ _manag.name }} @<br>
        True North for further information.<br>
        Phone:{{ _manag.phone }}.<br>
        Email:<br>
        <a href="mailto:{{ _manag.email }}" class="statsContact_">{{ _manag.email }}</a><br>
        <br>
</div>