
{% if year %}
<div class="statsDate">{{ year }}</div>
<hr class="bg-gray-700 h-0.5">
{% endif%}

{%  for itm1 in sbdata  -%}
    <br>
<h4 class="mt-0 mb-2 font-medium">{{ itm1.title | safe }}</h4>
    {%  for _line in itm1.lines  -%}
    <span>{{ _line | safe }}</span>
    <br>
    {%-  endfor %}
{%-  endfor %}
