
{% if year %}
<div class="statsDate">{{ year }}</div>
<hr class="bg-gray-700 h-0.5">
{% endif%}

<div class="flex flex-col sm:flex-row  flex-wrap gap-10 xl:flex-col ">
{%  for itm1 in sbdata  -%}
<div class="zzz">
    <h4 class="mt-0 mb-2 font-medium">{{ itm1.title | safe }}</h4>
    {%  for _line in itm1.lines  -%}
    <span>{{ _line | safe }}</span>
    <br>
    {%-  endfor %}
</div>
{%-  endfor %}
</div>
