            <p class="bodyHeaderRed">Consumers</p>
            <p class="bodyCopy">
                <b>Quantity:</b><br>
                More than 118 Million Households
                <br>
                <br>
                <b>Source:</b><br>
                White Pages directories, Census information, Automotive data, Voter registration,
                Credit sources, Deed information, Questionnaires, Mortgage data and many other private
                sources of data.
                <br>
                <br>
                <b>Update Schedule:</b><br>
                Quarterly, NCOA'd monthly, Recompiled Annually
                <br>
                <br>
                <b>Description:</b><br>
                This file reaches households throughout the US. You are able to target your potential
                clients by overlaying a number of demographics to reach your specific market.
                <br>
                <br>
                You can target these consumers by using one or more of the following selections:


                <ul class="ml-10 mt-5">
                        <li>Geography (City, State, Zip, Metro Area, Radius)</li>
                        <li>Age</li>
                        <li>Income</li>
                        <li>Gender</li>
                        <li>Homeowner</li>
                        <li>Presence of Children</li>
                        <li>Child Age</li>
                        <li>Single/Multi Family Dwelling</li>
                        <li>Mail Order Buyers</li>
                        <li>New Homeowners</li>
                        <li>New Movers</li>
                        <li>Mortgage Data</li>
                        <li>Credit Card Holders</li>
                        <li>Investors</li>
                        <li>Seniors</li>
                </ul>

            </p>
            