            <p class="bodyHeaderRed">Businesses/Professionals</p>
            <p class="bodyCopy">
                <b>Quantity:</b><br>
                More than 14 Million
                <br>
                <br>
                <b>Source:</b><br>
                Yellow Pages, Credit files, Trade papers and publications, SEC filings, Public records,
                New business filings
                <br>
                <br>
                <b>Update Schedule:</b><br>
                Quarterly, NCOA'd monthly, continuously telephone verified.
                <br>
                <br>
                <b>Description:</b>  <br>
                This file enables marketers to reach businesses their executives at business address.
                This file reaches all US and Canadian businesses.
                <br>
                <br>
                You can target these businesses by using one or more of the following selections
                to help pinpoint your specific market:

                <ul class="ml-10 mt-5">
                        <li>Geographically (Zip, County, State, Metro Area)</li>
                        <li>SIC Code</li>
                        <li>Employee Size</li>
                        <li>Sales Volume</li>
                        <li>Executive Title</li>
                        <li>Phone Numbers</li>
                        <li>Fax Numbers</li>
                        <li>Email Address</li>
                        <li>Headquarter/Branch/Subsidiary Location Consumers</li>
                </ul>


            </p>
