

{%  datacardbody  %}
    <i>
    <span>Email Counts Also Available!</span>
    <a href="/cards/scinews_email">Click Here.</a>
    </i>
{%  enddatacardbody  %}

{%  datacardbody  %}
These qualified newsletter subscribers are Principal Scientists, Chief Scientists and 
Lab Directors who are currently funded and actively involved in research. Many 
hold doctorate degrees (MD. PhD, or both). Research Areas and Research 
Techniques and Technolies are listed below.
{%  enddatacardbody  %}


{% set _table_1 %}
    {% include './table_1.md'  %}
{% endset%}

{% set _table_2 %}
    {% include './table_2.md'  %}
{% endset%}


{%  datacardbody %}
    {{ _table_1 | markdown | safe }}
{%  enddatacardbody  %}

{%  datacardbody %}
    {{ _table_2 | markdown | safe }}
{%  enddatacardbody  %}


{%  datacardbody  %}
    <a href="/content/DataCards/list_order_forms/TNLMListOrderForm1.2.pdf" class="bodyCopy" target="_new">
        Click Here for a Email List Rental Order Form
    </a>
{%  enddatacardbody  %}






















