{% extends "layouts/basepage4article.njk"  %}


{% block  right -%}

        <h1 class="text-green-500d-500   text-kakara  text-red-600"> ARTICLE LAYOUT XXXXX  </h1>
        
        <br>
        <br>
        
        {{ content | safe }}

{%- endblock %}


