<link rel="stylesheet" href="/css/tailwind.css">




<h1 class="text-green-500d-500   text-kakara  text-red-600"> ARTICLE LAYOUT   </h1>

pageURL {{ page.url  }}

=============================
{%- include "articles_sidebar.njk" -%} 
++++++++++++++++++++++++++++++

{{ content | safe }}




====================

