
============================================<<<<
            {{ content | safe }}
==============================================<<<<<

{% set _pageurl %}
{{- page.url -}}
{% endset %}

{% set _url="../.."+_pageurl+"_nested/missing.html"  %}
{% set _url1="../.."+_pageurl+"_nested/missing55.html"  %}


             
{{ _url }}


{% include "../../cards/jjjjjj/_nested/missing.html" ignore missing %}

!!!!!!!!!!!!!!!!!!
{% include _url ignore missing %}
!!!!!!!!!!!!!!!!!!!!!


{% set _misso %}
{%- include _url ignore missing -%}
{% endset %}






?????????????????
{{ _misso | d("wwwwwwww-TUTTI",true)  | safe }}
??????????????????




{% include "misso.html" ignore missing %}


