{% extends "layouts/basepage.njk"  %}






{% macro _sincl( _name ) %}

{% set _croot %}
{{- page.url -}}
{% endset %}

{% set _url="../.."+_croot+"/"+_name  %}
{% set _url2="_card/"+_name  %}

{% set _misso %}
{%- include _url ignore missing -%}
{% endset %}

{% set _misso2 %}
{%- include _url2 ignore missing -%}
{% endset %}

{{- _misso | d(_misso2,true)  | safe -}}


{% endmacro %}










{%- set _TITLE -%}
{{ _sincl("_title.njk") }}
{%- endset -%}

{% set _DESCRIPTION%}
{{- _sincl("_description.njk") -}}
{% endset %}

{% set _CTS %}
{{- _sincl("_cts.njk") -}}
{% endset %}



{% set _CENTRAL %}
{{- _sincl("_central.njk") -}}
{% endset %}


{% set _CENTRAL_MD %}
{{- _sincl("_central.md") -}}
{% endset %}




{% set _NOTES %}
{{- _sincl("_notes.njk") -}}
{% endset %}


{% set _SBDATA %}
{{- _sincl("_sbdata.njk") -}}
{% endset %}

{% set _MANAGER %}
{{- _sincl("_manager.njk") -}}
{% endset %}


{% set __LEFT %}
    {%- include "articles_sidebar.njk" -%} 
{% endset %}


{% set __MIDDLE %}

        <br>
        <br>
        

        <span class="dataCardHeader">
            {{- _TITLE | trim |safe -}}
        </span>
        <br>

        <div class="dataCardDesc">
            {{- _DESCRIPTION | trim | safe -}}
        </div>
        <br>

        <div class="cts">
            {{- _CTS | trim | safe -}}
        </div>
        <br>

        <div class="central">
            {{- _CENTRAL | trim | safe -}}
        </div>
        <br>


        <div class="notes">
            {{- _NOTES | trim | safe -}}
        </div>
{% endset %}


{% set __RIGHT %}
        {% if logoimage %}
            <img src="./images/{{logoimage}}"  class="h-12 w-auto object-scale-down">
        {% endif %}


        <div class="sbdata  p-2  bg-[#dadadb]">
            {{- _SBDATA | safe -}}
            <hr class="bg-gray-700 h-0.5 mt-5">
            {{ _MANAGER | safe }}
        </div>

{% endset %}








{% block  body_1 -%}
    <div  class="flex  justify-around grid  grid-flow-row  grid-cols-12 grid-rows-1">

        <div  class="col-span-2 px-8">
            {{- __LEFT | safe -}}
        </div>


        <div  class="col-span-7 px-8">
            {{- __MIDDLE | safe -}}
        </div>


        <div  class="col-span-3 px-8">
            {{- __RIGHT | safe -}}
        </div>

    </div>
{%- endblock %}





{% block  body_2 -%}



    <div  class="flex  flex-row flex-wrap relative">

        <div  id="sidebar"  class="px-8  w-full   hidden z-20 md:block  md:w-[30%]  lg:w-[25%]  xl:w-[20%]   bg-amber-100   target:block  peer">
            {{- __LEFT |  bhtml| safe -}}
        </div>

        <a  href="#" class="absolute inset-0 z-10 opacity-50 bg-[black] hidden peer-target:block  md:peer-target:hidden    cursor-default">
        </a>

        <div  class="px-0 w-full md:w-[70%] lg:w-[75%]   xl:w-[80%] flex flex-row flex-wrap">
            <div  class="col-span-7_  w-full lg:w-[60%] xl:w-[70%] px-8">
            {{- __MIDDLE | safe -}}
            </div>


            <div  class="col-span-3_  w-full lg:w-[40%] xl:w-[30%] px-8  lg:pr-8">
            {{- __RIGHT | safe -}}
            </div>
        </div>

    </div>



{%- endblock %}



{% block  body_3 -%}



    <div  class="flex  flex-row flex-wrap relative">

        <div  id="sidebar"  class="px-8  w-full   hidden z-20 md:block  md:w-[30%]  lg:w-[25%]  xl:w-[20%]   bg-amber-100   target:block  peer">
            {{- __LEFT |  bhtml| safe -}}
        </div>

        <a  href="#" class="absolute inset-0 z-10 opacity-50 bg-[black] hidden peer-target:block  md:peer-target:hidden    cursor-default">
        </a>

        <div  class="px-0 w-full md:w-[70%] lg:w-[75%]   xl:w-[80%] flex flex-row flex-wrap xl:flex-nowrap">
            <div  class="px-8">
            {{- __MIDDLE | safe -}}
            </div>


            <div  class="px-8">
            {{- __RIGHT | safe -}}
            </div>
        </div>

    </div>



{%- endblock %}






{% block  body -%}

    <div  class="flex  flex-row flex-wrap  md:flex-nowrap  relative">

        <div  id="sidebar"  class="px-8   hidden z-20 md:block    bg-amber-100   target:block  peer">
            {{- __LEFT |  bhtml| safe -}}
        </div>

        <a  href="#" class="absolute inset-0 z-10 opacity-50 bg-[black] hidden peer-target:block  md:peer-target:hidden    cursor-default">
        </a>

        <div  class="flex flex-row flex-wrap xl:flex-nowrap">
            <div  class="px-8">
            {{- __MIDDLE | safe -}}
            </div>


            <div  class="px-8">
            {{- __RIGHT | safe -}}
            </div>
        </div>

    </div>

{%- endblock %}



