{% extends "layouts/basepage.njk"  %}


{% set __LEFT %}
    {%- include "articles_sidebar.njk" -%} 
{% endset %}



{% set __RIGHT %}
    {{ content | safe }}
{% endset %}




{% block  _body -%}
    <div  class="flex   justify-around     grid  grid-flow-row  grid-cols-12 grid-rows-1">

        <div  class="col-span-2 px-8">
            {{- __LEFT |  bhtml| safe -}}
        </div>

        <div  class="col-span-10 px-8_  mx-auto">
            {{- __RIGHT|  bhtml | safe -}}
        </div>

    </div>
{%- endblock %}



{% block  body_1 -%}
    <div  class="flex  flex-row  relative min-h-min">

        <div  id="sidebar"  class="  col-span-2_ px-8  flex-grow-0 w-1/4_  absolute  -left-[200%]  md:left-0  md:static  h-full_ bg-[wheat]  target:left-0  ">
            {{- __LEFT |  bhtml| safe -}}
        </div>

        <div  class="col-span-10_   mx-auto_ w-3/4_">
            {{- __RIGHT|  bhtml | safe -}}
        </div>

    </div>
{%- endblock %}



{% block  body -%}
    <div  class="flex  flex-row flex-wrap  md:flex-nowrap  relative">

        <div  id="sidebar"  class="px-8  w-full_   hidden z-20 md:block  md:w-[30%]_  lg:w-[25%]_  xl:w-[20%]_  bg-amber-100 target:block  peer">
            {{- __LEFT |  bhtml| safe -}}
        </div>

        <a  href="#" class="absolute inset-0 z-10 opacity-50 bg-[black] hidden peer-target:block  md:peer-target:hidden    cursor-default">
        </a>

        <div  class="px-8 w-full_ md:w-[70%]_ lg:w-[75%]_   xl:w-[80%]_  flex-grow  min-h-[50vh]">
            {{- __RIGHT|  bhtml | safe -}}
        </div>

    </div>
{%- endblock %}

