<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
<!--
    <link rel="stylesheet" href="/css/tailwind.css">
-->
    {% include './tailwind4head.njk'%}
</head>
<body>

<!--
    <div class="mx-8    lg:mx-40 xl:mx-64">
-->

    <div class="mx-2  md:mx-5   lg:mx-20 xl:mx-40">
    

    <!--
    <div class="flex">
        <a href="/" class="no-underline">
            <img src="/images/tn_logo.gif"  class="w-48 h-20 object-scale-down">
        </a>
    </div>
    -->

    {% include './basepage/header_logo.njk' %}


    <div class="jk flex  justify-around  py-3 bg-gradient-to-r from-orange-400 to-orange-800  rounded-tl-lg rounded-tr-lg">



{% if (page.url | url) != ('/' | url) %}
        <a href="#sidebar" class="group md:hidden">
            {{ "/svgs/menu.svg" | svgContents("h-6 w-6 inline-block") | safe }}
        </a>

        <a href="#" class="hidden peer-visited:inline-block  hidden group-visited:inline-block">
            {{ "/svgs/close.svg" | svgContents("h-6 w-6 hidden group-visited:inline-block") | safe }}
        </a>
{% endif %}



    <a href="/cards-by-alphabet/" class="bg-gray-300 px-2 rounded-md">Cards by Alphabet</a>
    <a href="/cards-by-tree/"  class="bg-gray-300 px-2 rounded-md">Cards by Tree</a>
    </div>

    {% block  body -%}
    {%- endblock %}


    {% include './basepage/bottom_notes.njk' %}


<div class="flex">

<div class="text-xs  flex flex-wrap justify-center  space-x-4">
<span class="inline-block whitespace-no-wrap">True North List Marketing</span>
<span class="inline-block whitespace-no-wrap">P.O. Box 765</span>
<span class="inline-block whitespace-no-wrap">Hawleyville, CT 06440</span>
<span class="inline-block whitespace-no-wrap">Phone: 203.459.4348</span>
<span class="inline-block whitespace-no-wrap">Phone: 203.459.4350</span>
<span class="w-full"></span>

<span class="inline-block whitespace-no-wrap">&copy; True North List Marketing 2020</span>
</div>


<div class="h-10 w-24 mx-8 ml-auto hidden lg:block">
    <img src="/images/home/footer/footer_asae.gif"   class="object-fill"  style_="clip-path: inset(0px 0px 50px 0px);">
</div>

<div class="h-10 w-24 mx-8 hidden lg:block">
    <img src="/images/home/footer/footer_dma.gif"  class="object-fill">
</div>

<div class="h-10 w-24 mx-8 hidden lg:block">
    <img src="/images/home/footer/footer_dmaw.gif"  class="object-scale-down">
</div>



</div>




    </div>

</body>
</html>