{% extends "xbasem2.njk"  %}


{% macro _sincl( _name ) %}

{% set _croot %}
{{- page.url -}}
{% endset %}

{% set _url="../.."+_croot+"/"+_name  %}
{% set _url2="_card/"+_name  %}

{% set _misso %}
{%- include _url ignore missing -%}
{% endset %}

{% set _misso2 %}
{%- include _url2 ignore missing -%}
{% endset %}

{{- _misso | d(_misso2,true)  | safe -}}


{% endmacro %}










{%- set _TITLE -%}
{{ _sincl("_title.njk") }}
{%- endset -%}

{% set _DESCRIPTION%}
{{- _sincl("_description.njk") -}}
{% endset %}

{% set _CTS %}
{{- _sincl("_cts.njk") -}}
{% endset %}



{% set _CENTRAL %}
{{- _sincl("_central.njk") -}}
{% endset %}


{% set _CENTRAL_MD %}
{{- _sincl("_central.md") -}}
{% endset %}




{% set _NOTES %}
{{- _sincl("_notes.njk") -}}
{% endset %}


{% set _SBDATA %}
{{- _sincl("_sbdata.njk") -}}
{% endset %}

{% set _MANAGER %}
{{- _sincl("_manager.njk") -}}
{% endset %}

