
{% if _settings.ISPROD %}

    <link rel="stylesheet" href="/css/tailwind.css">
    
{% else %}
    
    <script src="https://cdn.tailwindcss.com"></script>
    
    <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
    </script>
    
    <style type="text/tailwindcss">
    {{ twblock | safe }}
    </style>

{% endif %}
