---
title: Who We Are
eleventyNavigation:
  key: WHO-WE-ARE
  order:  2
  parent: ABOUT
  title: Who We Are
---

{% set _empty={ name:'?????', email:'?????',phone:'????' } %}
{% set  _micaela = managers['micaela']  | d(_empty)  %}
{% set  _hubert = managers['hubert']  | d(_empty)  %}



      <p>&nbsp;</p>
      <p class="bodyHeaderRed">Who We Are</p>
		<p class="bodyCopy">
			In 1997, True North List Marketing was established by a group of  experienced direct marketers. Our client-focused, results-oriented  
			reputation was built one client at a time. We approach every client's  unique business goals with energy, creativity and the agility 
			of a  boutique agency. A team of qualified professionals develops customized  business strategies, designed to meet 
			each client's individual direct  marketing needs.
		  <br><br>
          <strong>What do we believe?</strong>
          <br>
			We believe  the business of direct marketing is the business of selling. We believe  in the companies 
			and organizations we represent. We believe in service.  Our client-focused, results-oriented reputation was 
			built one client at  a time. And, while we are always mindful of your brand, we spend the  bulk 
			of our day thinking of ways to increase your ROI.
		<br><br>
			What does this mean for you?<br>
			<ul class="ml-10">
				<li>More visibility</li>
				<li>More creative marketing</li>
				<li>More revenue</li>
			</ul>
		  	<br>
			Today, True North List Marketing provides unparalleled service and  direct marketing expertise to a growing list of companies, 
			consumer and  business-to-business, non-profit organizations and associations.
			<br><br>
			We have offices in two locations. True North List  Marketing is headquartered in Monroe, 
			CT<!-- with an office in Washington,  DC-->. True North, Inc. is located in New York City.
		<br>
		<br>
		<strong>What can we do for you? </strong><br>

<!--
		Contact Tom Hubert at (203) 459-4348 x301 or by email: <a href="mailto:Tom.Hubert@TrueNorthList.com" class="bodyCopy">Tom.Hubert@TrueNorthList.com</a>
-->

		Contact {{_hubert.name}} at {{_hubert.phone}} or by email: <a href="mailto:{{_hunert.email}}" class="bodyCopy">{{_hubert.email}}</a>





        <br>
        <br><br>
        </p>
