
{%  datacardbody  %}
US government spending ranks ahead of all the the largest corporations in America. 
Forty-six states, six cities, three counties, and the school districts are larger 
than the company ranked 500th on the Fortune list of top US companies.
{%  enddatacardbody  %}


{%  datacardbody  %}
You can target complete contact information for key officials in all 3,100 counties, boroughs, 
and parishes, 7,900 cities, towns and villages, 50 states and federal regional government offices 
nationwide with Carroll Publishing Government Executives.
{%  enddatacardbody  %}


{%  datacardbody  %}
    <strong>Available Job Functions Include:</strong>
{%  enddatacardbody  %}


{% set _list %}
    {% include './list.md'  %}
{% endset%}

<div  class="pl-10 columns-[15rem]">
    {{ _list | markdown | safe }}
</div>
