    {% from "./list_all.njk" import list_all %}

    


{%
    set data01=
    { 
        title:"POSTAL LISTS ONLY",
        items:
                [
                    { title:"Association for Facilities Engineering",img:"/images/associations_afe.gif",alt:"AFE",url:"/main?action=DC&v=afe&quickList=afe" },
                    { title:"Solid Waste Association Active Members",img:"/images/associations_swana.gif",alt:"SWANA",url:"/cards/swana/" },
                    { title:"Road Runners Club of America",img:"/images/associations_roadrunners.gif",alt:"Road Runners",url:"/main?action=DC&v=RoadRunnersUSA&quickList=RoadRunnersUSA" }
                ]
    }
%}

{%
    set data02=
    { 
        title:"EMAIL & POSTAL LISTS",
        items:
                [
                    { title:"American Society for Parenteral and Enteral Nutrition",img:"/images/associations_aspen.gif",alt:"ASPEN",url:"/cards/aspen/" },
                    { title:"National Institute of Health Stimulus Funded Scientists",img:"/images/associations_nih.gif",alt:"NIH",url:"/cards/nih_sfs/" }
                ]
    }
%}


    <div class="flex flex-row  flex-wrap xl:flex-nowrap xl:gap-10">
        {{- list_all(data01) -}}
        {{- list_all(data02) -}}
    </div>



    
