<div class="from-[#1896C6] to-[#008ABF]  bg-gradient-to-t  p-5 rounded-md">


                                <p class="Associations_subheader"> GET THE MOST OUT OF YOUR LISTS WITH TRUE NORTH'S EXPERTISE. </p>
                                <p class="text-white">
                                    <strong>At True North, we specialize in Association list management and getting results for our clients.</strong> 
                                    We successfully manage a range of Association lists, and as your list manager, we would market your member and customer 
                                    files to other companies who have similar target audiences. See for yourself how our creative approach to managing lists can 
                                    help your business grow. <br> Learn more about True North List Marketing’s list management capabilities 
                                    <a href="/articles/capabilities/list-management/">here</a>.
                                </p>
                            


</div>