<div class="flex  flex-col  lg:flex-row   p-5 gap-2 lg:gap-10 bg-gradient-to-t   from-[#015186]  to-[#1390BE]">


    <div class="min-w-max">
        {{ "/svgs/home/FFData03.svg" | svgContents("h-full_ w-full  object-cover") | safe }}
    </div>

    <span class="text-[#F7D98C]  text-2xl font-extralight">
        The <b class="">newest</b> and most <b class="">precize</b> way to find customers
        in new niche market from True North List Marketing.
    </span>


</div>