

<div class="flex flex-col   lg:flex-row  gap-2 lg:gap-5 items-center">

    <span class="Associations_yellow">
        Need help understanding the list renting process?
    </span>

    <a href="#tools"  class="from-[#2299CB]   to-[#8DCCE7]  bg-gradient-to-t rounded-md   py-1 px-4">
        <span class="whitespace-nowrap text-white">
            VISIT OUR RESOURCE CENTER
        </span>
    </a>

</div>