{% from "./show_card.njk" import show_card %}


{%

    set _items=
    [
        { title:"QUICK TIPS",descr:"How to make the most of mailing lists.", pdf: {"title":"DOWNLOAD PDF",url:"/downloads/TNLM_marketing_tips.pdf" } },
        { title:"DATA CARD",descr:"Learn how to read a data card the right way.", pdf: {title:"DOWNLOAD PDF",url:"/downloads/TNLM_HowToReadADataCard.pdf"} },
        { title:"GLOSSARY",descr:"Learn the language of direct marketing here.", pdf: {title:"DOWNLOAD PDF",url:"/downloads/TNLM_marketing_glossary.pdf"} },
        { title:"FAQ",descr:"We can answer all your questions.", pdf: {title:"LEARN MORE",url:"/downloads/TNLM_FAQ.pdf"} }
    ]


%}





<div>


<a name="tools"></a>

<span class="Associations_subheader  underline underline-offset-4 decoration-double mb-4 block">Tools & Resource Center</span>

<br>

<div class="grid_ grid-cols-2_ gap-4_  flex flex-row flex-wrap gap-4">
    {% for _item in _items %}
        {{- show_card(_item) -}}
    {% endfor %}
</div>


<br>





</div>