<div id="Associations_gettingstarted">

<span class="Associations_subheader  underline underline-offset-4 decoration-double mb-4"> Getting Started</span>

<br>
<br>

<strong style="font-size: 14px;"  class="">Association List Process–4 Steps to List Rental</strong>

<br>

<p>
    Once approved, your list order file will be sent via email to be printed and mailed
    on your end.
</p>


<br>

<ol>
                                    <li><strong>Identify</strong> your audience</li>
                                    <li><strong>Review</strong> and select list criteria</li>
                                    <li><strong>Fill out </strong>an order form that contains all<br> required information<br>
                                        <a href="/downloads/list_order_forms/TNLMListOrderForm1.2.pdf" target="_blank">Click Here for Email List Rental Form</a><br>
                                        <a href="/downloads/list_order_forms/TNLMListOrderForm.pdf" target="_blank">Click Here for Postal List Rental Form</a>
                                    </li>
                                    <li><strong>Submit </strong>final version of mail piece and the completed list rental form to <a href="mailto:Micaela.Olivier@truenorthlist.com">Micaela.Olivier@truenorthlist.com</a>
                                    </li>
</ol>

<br>


<p> Once approved, your list order file will be sent via email to be printed and mailed on your end. </p>                                


</div>