{% from "./list_item.njk" import list_item %}


{% macro list_all(_src)%}

<div>

    <span  id_="Associations_listtable_header"  class="text-[#024470]  font-bold uppercase   underline underline-offset-4 decoration-double mb-4" >{{_src.title}}</span>

    <br>

    <div class="flex flex-col">
        {% for _item in _src.items%}
        {{- list_item(_item)   -}}
        {% endfor %}
    </div>

</div>


{% endmacro %}