{% macro list_item(_src)%}


<a href="{{_src.url}}">
    <div class="flex flex-row items-center gap-5 mt-5">
        <div class="w-28 h-20">
            <img src="{{_src.img}}" alt="{{_src.alt}}"  class="w-full h-full object-fill" >
        </div>
        <span>{{_src.title}}</span>
    </div>
</a>

{% endmacro %}