{% macro show_card(_src)%}



<div class="flex flex-row  gap-4  py-3 rounded-md text-white from-[#054875]  to-[#0968AA]  bg-gradient-to-t  w-[30rem]_  w-full  2xl:w-5/12  justify-between">

    <div class="border-r-2 px-4 flex-grow">
        <span class="text-2xl font-medium">{{_src.title}}</span>
        <br>

        <span>{{_src.descr}}</span>
    </div>

    <div class="flex items-center px-2     min-w-[10rem] ">
        <a href="{{_src.pdf.url}}" target="_blank" class="rounded-sm from-[#1F97C9]  to-[#91CAE5]  bg-gradient-to-t py-1 px-3 whitespace-nowrap">{{_src.pdf.title}}</a>
    </div>

</div>



{% endmacro %}