---
permalink: "/"
layout: "basehome"
---

<!--
aa {{ _settings.ISPROD }}  aa  9999999
-->


<div class="flex h-3/5">


<div class="w-full md:w-2/3">
<!--
    <img src="/images/home/middle/Carroll.jpg" class="w-full h-full object-cover">
-->
	{% include 'sliders/slider3.njk'  %}
</div>




<div class="hidden md:block   w-1/3  relative">
	{% include 'home/leftpart01.njk'  %}
</div>




</div>



