---
title: Count Requests
eleventyNavigation:
  key: COUNT-REQUESTS
  order:  1
  parent: TOOLS
  title: Count Requests
---

      <p>&nbsp;</p>
      <p class="bodyHeaderRed">Count Requests</p>
		<p class="bodyCopy">
        <strong>Business Count Request</strong><br>
        E-mail <a href="mailto:Micaela.Olivier@TrueNorthList.com" class="bodyCopy">Micaela Olivier</a> the list name and segments and she will get back to you with your count
        </p>
        <p class="bodyCopy">
        <strong>Consumer Count Request</strong><br>
        E-mail <a href="mailto:Micaela.Olivier@TrueNorthList.com" class="bodyCopy">Micaela Olivier</a> the list name and segments and she will get back to you with your count
        </p>

