

{%  datacardbody %}
Carroll Publishing list offer mailers access to more offices and accuracy unsurpassed 
from any other government list source. Most of the Federal Government Executives 
listed on this file are GS-12 or above and are purchasing decision makers.
{%  enddatacardbody  %}


{%  datacardbody  %}
    <span>E-mail List Available, see the</span>
    <a href="/cards/carroll_fed_govt_exec_email">E-mail Data Card</a>
{%  enddatacardbody  %}

{% set _list %}
    {% include './list.md'  %}
{% endset%}

{%  datacardbody  %}
    <strong>Available Job Functions Include:</strong>
{%  enddatacardbody  %}

<div   class="pl-10   columns-[15rem]">
    {{ _list | markdown | safe }}
</div>
