

{%  datacardbody  %}
Reach thousands of key decision makers in Microbiology and Immunology research labs.
{%  enddatacardbody  %}

{%  datacardbody  %}
These professionals are leading researchers in the fields of Immuno-Oncology, Immunochemistry, 
Allergy, Autoimmunity, Vaccinology, Infectious Diseases, Virology, Bacteriology, 
Parasitic and Fungal Immunology. All are well- funded, hold more than one 
research grant and are known to attend many industry conferences.
{%  enddatacardbody  %}

{%  datacardbody  %}
Most researchers on file will spend $1+ billion on products annually.
{%  enddatacardbody  %}

{%  datacardbody  %}
The scientists on this file have all opted in via webinar sign-ups and eNewsletter subscriptions.
{%  enddatacardbody  %}
