
{%  datacardbody  variant='kuka' %}
Carroll Publishing State County and Municipal Government Executives directories 
include high-level government personnel from 7,900 cities, towns and villages, 
all 50 states, as well as 3,100 counties, boroughs and parishes.
{%  enddatacardbody  %}


{%  datacardbody  %}
    <span>E-mail List Available, see the</span>
    <a href="/cards/carroll_state_county_muni_email">E-mail Data Card</a>
    <br>
    <br>
    <strong>** Email Transmission Fee is $35/M or $500/F.</strong>
{%  enddatacardbody  %}


{%  datacardbody  variant='kuka' %}
    <strong>Available Job Functions Include:</strong>
{%  enddatacardbody  %}


{% set _list %}
    {% include './list.md'  %}
{% endset%}

<div class="pl-10 columns-[15rem]">
    {{ _list | markdown | safe }}
</div>
