<div class="w-full h-full bg-[#FF8600]">



<div class="absolute text-white  sm:text-sm md:text-base lg:text-xl" style="top: 2%;left: 2%;">
<p>
<b>True North List offers</b> a boutique-style 
approach that's smart, creative, and customized 
to the needs of your brand. And we get
results.
</p>

<ul class="mt-16 list-none" >
	<li><b>Our services include</b>:</li>
	<li>List Management</li>
	<li>List Brokerage</li>
	<li>Insert Media Management</li>

	<li>Interactive Marketing</li>
	<li>Data Services</li>
</ul>



</div>

    

<div class="absolute w-4/12 h-4/12 bottom-16 right-16    rounded-full p-2_  scale-150">
	            {{ "/svgs/home/MedalTN5.svg" | svgContents("h-full w-full  object-cover  ") | safe }}
</div>


</div>

