
{%  datacardbody %}
Located in D.C. and nationwide, reach the vendors that equip the countless departments, 
agencies and military facilities with everything the government needs: military hardware, 
vehicles and telecommunication; biomedical supplies; computer and IT supplies; satellite equipment; 
training products and services; office supplies; books and publications of all kinds and more.
{%  enddatacardbody  %}

{%  datacardbody %}
This list is highly selectable and includes: Female Owned, Minority Owned Business, 
Veteran Owned, Other (African-American, Asian, etc) minority business ownership, 
end of Fiscal year (month), Primary and Secondary NAICS and SIC Code, Employee Size, 
Sales Volume, Gender, Telephone Number and email address.
{%  enddatacardbody  %}




{% set table_l %}
    {% include './table_left.md'  %}
{% endset%}


{% set table_r %}
    {% include './table_right.md'  %}
{% endset%}



<div class="pl-10 columns-2xs thin-rule">
    {{ table_l | markdown | safe }}
</div>

<br>
<br>

<div class="pl-10 columns-[15rem] thin-rule">
    {{ table_r | markdown | safe }}
</div>

