
    .dataCardBody
    {
        @apply  py-3 ;
    }

    .bodyHeaderRed
    {
        color: #ba1410;
        @apply  py-2  font-bold  text-3xl ;
    }

    .bodyCopy
    {
        color: #333333;
        @apply  py-1;
    }

    .statsDate
    {
        @apply  text-[#ba1410]  font-semibold;
    }


    .sbdata>span { 
        @apply text-sm;
    }

    .statsContact{
        @apply  text-sm font-semibold;
//        font-family:Arial, Verdana, Helvetica, sans-serif;
//        font-size:11px;
//        font-weight:600;
//        line-height:16px;
        color:#ba1410;
    }


    


/*
    li.isactive>a
    {
        @apply  whitespace-nowrap;
    }
*/

    ul.articles-sidebar
    {
        @apply  list-none;

        & a { @apply  whitespace-nowrap; }


        & ul
        {
            @apply  list-none;
        }

        & li>a {  @apply flex flex-row items-center; }
    

        & li>a:before,
        & li>a:after
        {
            font-size: .75em;
        }
    
    
        & li>a:before
        {
//            background-color: $var;
            content: '\25A0\00A0';
            content: '\2BC0\00A0';
            visibility: hidden;

            content: "";
            @apply  h-2 w-2  bg-gray-700  mr-2  inline-block;

        }
    
    
        & li.isactive.islevel1>a:before
        {
            visibility: visible;
        }    
    
    
    
        & li.isactive>a:after
        {
            content: '\00A0\25A0';
            content: '\00A0\2BC0';

            content: "";
            @apply  h-2 w-2 bg-gray-700  ml-2 inline-block;        }
    
    
        & li.isactive.islevel1>a:after
        {
            visibility: hidden;
        }    
    

        & > li >a 
        {
            @apply  font-bold;
        }

    
        & li.inpath.islevel0>a
        {
            color: #ba1511;
            @apply  font-bold;
        }

    }


