


.cards-tree
{


//    @apply  bg-amber-400;;


    & ul
    {
        @apply  list-none;;
    }

    label { cursor: pointer;  }

    input[type="checkbox"] ~ ul
    {
//        display: none;
//        visibility: hidden;
        height: 0;
        transform: scaleY(0)
     }
      
      input[type="checkbox"]:checked ~ ul{
        height: 100%;
//        display: block;
//        visibility: visible;
        transform-origin: top;
        transition: transform .2s ease-out;
//        transition: visibility .2s ease-out;
        transform: scaleY(1); 
      }    


      input[type="checkbox"] ~ label:after
      {
//          content: ' \2BC8';
            content: '';
            display: inline-block;
            margin-left: 0.4rem;
            @apply  c-triangle-right;
      }


      input[type="checkbox"]:checked ~ label:after
      {
//          content: ' \2BC6';
            content: '';
            display: inline-block;
            margin-left: 0.4rem;
            @apply  c-triangle-down;
}
  




}