//$var:#94a8a7;
$var:green;

@import './consts0.scss';




.c-triangle-left {
    width: 0;
    height: 0;
    border: 0;
    border-right: .5em solid currentColor;
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
  }

  

.c-triangle-right {
    width: 0;
    height: 0;
    border: 0;
    border-left: .5em solid currentColor;
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
  }
    

.c-triangle-down {
  width: 0;
  height: 0;
  border: 0;
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
  border-top: .5em solid currentColor;
}

.c-triangle-up {
  width: 0;
  height: 0;
  border: 0;
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
  border-bottom: .5em solid currentColor;
}