   	
#FreshFind_Table {
	background-image: url("/images/freshfind_top_bg.jpg");
	background-position:0px 0px;
	background-repeat:no-repeat;
}



#FreshFind_Chart {
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
	line-height:16px;
	color:#808285;
	background-image:url("/images/FreshFindChart_bg.jpg");
	background-repeat:no-repeat;
	
}























/*



#Associations_Table {
	background-image: url("/images/associations_top_bg.jpg");
	background-position: 0px 0px;
	background-repeat:no-repeat;
}



.Associations_Intro {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:22px;
	color:#6d6e71;
	width: 700px;
	margin: 0px 0px 22px 0px;
	padding: 0px;
}
.Associations_yellow {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:22px;
	color:#f6a810;
	font-weight:bold;
}
#Associations_listtable {
	width: 341px;
	background-image:url(images/associations_listtable_bg.gif); 
	background-repeat: repeat-y;
	color: #024470;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	
}
#Associations_listtable_header {
	height: 56px;
	background-color:#FFF; 
	color: #024470;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	
}



.Associations_subheader {
	color: #024470;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	
}




#Associations_bluebox {background-image:url(/images/associations_bluebox_b.gif);
    background-repeat:repeat-y;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    line-height:22px;
    color:#ffffff;
    }
    #Associations_bluebox p{
        margin: 10px 30px 0px 31px;
        padding: 0px;
    }
    #Associations_bluebox a, #Associations_bluebox a:visited {
     color: #ffffff;
     font-weight:bold; text-decoration:underline;
    }

*/



.dataCardHeader{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:19px;
	font-weight:400;
	line-height:17px;
	color:#a70000;
}





/*Associations & Society */
#Associations_Table {
	background-image: url(/images/associations_top_bg.jpg);
	background-position: 0px 0px;
	background-repeat:no-repeat;
}
.Associations_Intro {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:22px;
	color:#6d6e71;
	width: 700px;
	margin: 0px 0px 22px 0px;
	padding: 0px;
}

.Associations_yellow {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:22px;
	color:#f6a810;
	font-weight:bold;
}


.Associations_yellow img {  display: inline; }



#Associations_listtable {
	width: 341px;
	background-image:url(/associations_listtable_bg.gif); 
	background-repeat: repeat-y;
	color: #024470;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	
}
#Associations_listtable_header {
	height: 56px;
	background-color:#FFF; 
	color: #024470;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	
}

#Associations_listtable a, #Associations_listtable a:visited {
	
	color: #024470;
	text-decoration: underline;
	
}

.Associations_subheader {
	color: #024470;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	
}
#Associations_gettingstarted {
	font-size:13px;
	color: #6d6e71;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif;}

#Associations_gettingstarted ol {
	margin: 0px 0px 0px 20px;
	padding:0px;
	}
#Associations_gettingstarted li {
	margin: 20px 0px 0px 0px ;
	padding:0px;
	}
	
#Associations_gettingstarted a, #Associations_gettingstarted a:visited , #Associations_gettingstarted_blue {
 text-decoration: none;
 font-weight:bold;
	color: #024470;
}

#Associations_gettingstarted p {
    margin: 0px 0px 20px 0px;
    padding: 0px;
   }	

      


#Associations_tools p{
	margin: 0px 0px 20px 0px;
	padding: 0px;
	
}





#Associations_tools img{
	border:none;
	margin:0px;
	padding:0px;
}


#Associations_tools  img{
    display: inline;
}	



#Associations_bluebox {background-image:url(/images/associations_bluebox_b.gif);
background-repeat:repeat-y;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:22px;
color:#ffffff;
}
#Associations_bluebox p{
	margin: 10px 30px 0px 31px;
	padding: 0px;
}
#Associations_bluebox a, #Associations_bluebox a:visited {
 color: #ffffff;
 font-weight:bold; text-decoration:underline;
}




.dataCardDesc
{
	@apply	text-gray-400 font-medium;
}








#CallUsToday 
{
	font-family:Arial-Narrow, Arial Narrow, Arial, Helvetica, sans-serif; 
	font-size:14px;
	color:#ba1410;
//	margin-bottom:15px;
}
	
.CallUsToday-Number 
{
	font-weight: bold;
}