<div class=" flex flex-col  h-min_ h-full  justify-between      bg-[#FEBE0F]  w-full   text-gray-700  text-2xl  p-6   rounded-md   from-[#FDBE11]  to-[#FDDF89]   bg-gradient-to-tr ">



    <div class="flex">
        <span>
            Get new list announcements and stay
            up-to-date on all our managed lists.
        </span>

        <div class="w-16 h-16 ml-auto">
            {{ "/svgs/home/Pencil_01m.svg" | svgContents("h-full mx-auto scale-150 rotate-[40deg]") | safe }}
        </div>

    </div>




        <form action="" onsubmit="console.log('e-mail');return false;">

    <div class="flex mt-8  text-xl  w-min_ self-center">

            <input type="email" class="rounded-l-full pl-5 w-full focus:outline-none" placeholder="E-mail" required>

<!--
            <a href="javascript:return false" class="bg-[#9C0000] rounded-r-full">
            <span class="px-6   h-full text-center  text-white  text-[0.5em] block  my-auto">SUBMIT</span>
            </a>
-->

            <input class="bg-[#9C0000] rounded-r-full px-6   h-full text-center  text-white  text-[0.5em] block  my-auto" type="submit" value="SUBMIT" 
            
            onsubmit_="javascript:return false"
            id="submit"  >




    </div>
        </form>



</div>