    {% from "_common/LearnMore.njk" import LearnMore %}



<div class="flex flex-col gap-2  h-full  justify-between  p-6">


    {{ "/svgs/home/FFData01.svg" | svgContents("h-1/3 w-full  object-cover") | safe }}

    
    <div class="text-[#F67A08]  text-xl obj ">
        FreshFind is your best source for original
        new business lists and data.
    </div>

 
    {{- LearnMore("/articles/managed-properties/business/new-businesses/") -}}




</div>