    {% from "_common/LearnMore.njk" import LearnMore %}
    
    
    <div class="flex flex-col gap-2 h-full  justify-between p-6">

    <div class="text-[#FF7300] text-xl">
        Our list management are professionals
        <br>
        <span class="text-[#757577]">
        can increase your rental revenues and cretiavely
        market your list.    
        </span>
    </div>


    {{- LearnMore("/articles/capabilities/list-management/") -}}



    </div>
    
    
    
    

