{% from "_common/LearnMore.njk" import LearnMore %}

<div class="flex flex-col gap-2 h-full  justify-between p-6">


    {{ "/svgs/home/SmartTarget.svg" | svgContents("h-1/3 w-full  object-cover") | safe }}


    <div class="text-[#416BB9]  text-xl">
        Connect with members in yout niche market.
    </div>


     {{- LearnMore("/articles/managed-properties/business/assoc-and-society/") -}}


</div>