    <a href="/articles/managed-properties/business/assoc-and-society/">
        <img src="/images/home/prefooter/BottomCenterCallout_201205_right_associations.gif"  class="object-scale-down  w-full_">
    </a>
