
{%  datacardbody %}
    This is the definitive list of public places. 
    Multiple categories are available as well as title slug in.
{%  enddatacardbody  %}




{% set table_l %}
    {% include './table_left.md'  %}
{% endset%}


{% set table_r %}
    {% include './table_right.md'  %}
{% endset%}



<div  class="pl-10 columns-[20rem] thin-rule">
    {{ table_l | markdown | safe }}
</div>

<br>
<br>

<div   class="pl-10 columns-[20rem] thin-rule">
    {{ table_r | markdown | safe }}
</div>

