
<div class=" from-[#434343]  to-[#101010]    bg-gradient-to-r p-8    flex  flex-col xl:flex-row  flex-wrap items-center gap-4  justify-center">


    <div class="flex flex-row  whitespace-nowrap">
        <div>
            <span class="text-6xl font-light  tracking-widest text-white">Fresh</span>
            <span class="text-6xl font-semibold tracking-widest text-white">Find</span>
        </div>
        <div class="flex flex-col text-white  text-[1.2rem] leading-[1.2rem] self-end">
            <span>New Businesses</span>
            <span>Data</span>
        </div>
    </div>


    <div class="flex flex-col text-white text-[#E8B41F] font-extralight text-[1.2rem] leading-[1.2rem] ml-6 xl:self-end  whitespace-nowrap">
        <span>The <b>smartes</b> way to reach new businesses</span>
        <span>from True North List Marketing.</span>
    </div>


</div>
