
    <div class="lg:w-5/12 bg-gradient-to-t  from-[#EDECEA] to-[#FFFFFF]   border border-gray-500 rounded-md  p-5">
        <span class="black">Traditional Data Techniques</span>
        <ul class="ml-10">
            <li>Data mined from government <br> and public sources</li>
            <li>Verified with phone append <br> information</li>
            <li>Excellent list hygiene</li>
        </ul>
        <strong>Lists Include:</strong><br>
        <a href="/cards/americas_hotlist/">America's New Business Hotlist</a><br>
        <a href="/cards/new_business_filings/">New Business Filings</a><br>
        <a href="/cards/new_businesses_rising/"> New U.S. Businesses &amp; Executives</a><br>
        <a href="/cards/new_entrepreneur_business_owners/"> New Entrepreneur Business Owners</a>
    </div>
