{% from "_common/mngr-contact.njk" import mngr_contact %}

<div class="flex  flex-col   lg:flex-row  justify-center  gap-5">

    <div class="flex-[1_1_50%]_    lg: w-6/12">
        <span>
                True North List Marketing is your best source for original new business lists. 
                Why? By combining cutting-edge technology with traditional data mining techniques we bring you 
                the most complete new business data. You’ll get results by using our original source 
                data that is accurate and up to date, with high deliverability.            
        </span>
    </div>


    <div class="flex-[1_1_50%]_   lg: w-4/12">
        <span>
            Reach over 250,000 new businesses each month with True North List Marketing — not available in any other databases!
        </span>
        <div class="mt-5">
            {{- mngr_contact(managers,'micaela') -}}
        </div>



    </div>




</div>
