
<div class="flex flex-col  lg:flex-row justify-center gap-5">


<div class="lg:w-5/12">
    <strong>Get the most  timely data, with highly unique selects</strong><br><br>
    <span>✓</span> Home-Based vs. Non-Home Based Business<br>
    <span>✓</span> Find New Businesses with SIC Codes<br>
    <span>✓</span> Weekly Hotlines  Available<br>
    <span>✓</span> Daily Feeds - New Data Posted Every Business Day
</div>



<div class="p-5 rounded-xl  from-[#FDBE11]  to-[#FDE090]  bg-gradient-to-t  lg:w-5/12   flex  flex-col  justify-center">

    <strong class="text-2xl my-2 text-[#000100] mb-5 text-center">Read a White Paper on Why New Businesses Matter.</strong>


    <span>
    New businesses can offer a continuous flow of sales opportunities.
    Get insights into this vital market and the importance
    of finding the best new business lists.
    </span>


    <a  href="/downloads/NewBusinessesandListSourcing.pdf" target="_blank" 
        class="rounded-md from-[#3F3D3E]  to-[#B1B1B1]  bg-gradient-to-t py-1 px-3 whitespace-nowrap text-white  w-min self-center mt-5">
        DOWNLOAD NOW
    </a>


</div>



</div>
