---
permalink: "cards-by-alphabet/"
layout: "baseart"
---


{{ collections.cards | log }}

{% set grps=[] %}

{% for card in collections.cards %}
    {% if card.data.letter %}
        {% set _item={ path: card.inputPath, title: card.data.title , letter: card.data.letter , url: card.url,  logo: card.data.logoimage}  %}
        {% set ___%}
        {{- grps.push(_item) -}}
        {% endset %}
    {% endif %}
{% endfor %}


{% macro _alphabet_line() %}
<div class="flex justify-center my-5">
<ul class="flex justify-around w-1/3 list-none space-x-2 md:space-x-6">
{% for letter, items in grps | groupby("letter") | dictsort %}
    <li class="text-3xl font-medium">
        <a href="{{url}}#{{letter}}"><h2 class="px-4_  text-gray-500">{{ letter }}</h2></a>
    </li>
{% endfor %}
</ul>
</div>
{% endmacro %}


{{- _alphabet_line() -}}


<div  class="flex  flex-col  xl:flex-row  flex-wrap gap-5 xl:divide-x_ xl:divide-y_">


{% for letter, items in grps | groupby("letter") | dictsort %}

    <div class="letter_item p-4  flex-grow-0 xl:flex-grow">

    <a name="{{letter}}"></a>
    <h2 class="text-3xl font-bold  text-center text-orange-500">{{ letter }}</h2><br>
    
    <div class_="grid  grid-flow-row  grid-cols-2" class="flex flex-col justify-center_">

    {% for _item in items %}
        <a href="{{_item.url}}" class="py-0 flex  items-center_ justify-center_">
        <span class="w-1/2_">{{_item.title}}</span>
        {% if _item.logo %}
        <img  class="h-6 w-20 object-scale-down inline-block"    src="{{_item.url}}/images/{{_item.logo}}" />
        {% else %}
        <div  class="h-6 w-20">
        </div>   
        {% endif %}
        </a>
    {% endfor %}

    </div>

    </div>

{% endfor %}

</div>



{{- _alphabet_line() -}}


