

{%  datacardbody  %}
Wiland Direct members can apply their models to the WWF universe to maximize response. 
This opportunity is available only to members of the Wiland Direct Database.
{%  enddatacardbody  %}

{%  datacardbody  %}
Very direct mail responsive, these individuals are great prospects for offers of apparel, 
accessories, subscriptions, gifts, music, video, general merchandise, insurance, travel, internet and much more.
{%  enddatacardbody  %}

{%  datacardbody  %}
WWF's mission is the conservation of nature. WWF directs its conservation efforts 
toward three global goals: saving endangered spaces, protecting endangered habitats and 
addressing global threats. From working to save the giant panda and bringing back the Asian 
rhino to establishing and helping to manage parks and reserves worldwide, WWF has 
been a conservation leader for more than 40 years.
{%  enddatacardbody  %}































