---
title: Invoice Status
eleventyNavigation:
  key: INVOICE-STATUS
  order:  3
  parent: TOOLS
  title: Invoice Status
---


      <p>&nbsp;</p>
      
      <p class="bodyHeaderRed">Invoice Status</p>
		  
      <p class="bodyCopy">
      <strong>Invoice Status</strong><br>
      E-mail your request for invoices to <a href="mailto:Accounting.Dept@truenorthlist.com" class="bodyCopy">Accounting.Dept@truenorthlist.com</a> and we will e-mail or fax them back to you.
      </p>
