---
title: Consumer
eleventyNavigation:
  key: CONSUMER
  order:  2
  parent: MP
  title: Consumer
---




{%  bodyHeaderRed %}Consumer{%  endbodyHeaderRed  %}


{%  bodyCopy %}
  Our consumer list management group represents diverse, responsive lists of the highest quality in areas that include fundraising, 
  publishing, general merchandise, continuity, membership-associations and collectibles.
{%  endbodyCopy  %}


{%  bodyCopy %}
  We're proud to represent such clients as Clearpoint and World Wildlife Fund.
{%  endbodyCopy  %}



