

{%  datacardbody %}
Founded in 1976, ASPEN is an interdisciplinary organization whose members 
are involved in the provision of nutrition support therapies, including 
parenteral and enteral nutrition. With more than 6,300 members from around 
the world, ASPEN is a community of dietitians, nurses, pharmacists, physicians, 
scientists, students and other health professionals from every facet of 
nutrition support clinical practice, research and education.
{%  enddatacardbody  %}


{%  datacardbody %}
<strong>ASPEN supports its mission in a variety of ways:</strong>
{%  enddatacardbody  %}


{% set _list_1 %}
    {% include './list_1.md'  %}
{% endset%}

<div class="pl-10">
    {{ _list_1 | markdown | safe }}
</div>


{%  datacardbody %}
<strong>Member benefits:</strong>
{%  enddatacardbody  %}

{% set _list_2 %}
    {% include './list_2.md'  %}
{% endset%}

<div class="pl-10">
    {{ _list_2 | markdown | safe }}
</div>


{%  datacardbody %}
<strong>
Please visit their website at 
<a href="http://www.nutritioncare.org">www.nutritioncare.org</a>
</strong>
{%  enddatacardbody  %}


